[Unit]
Description=TeleBot service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/school_bot
ExecStart=/home/school_bot/venv/bin/python bot.py
[Install]
WantedBy=multi-user.target
